body {
    overflow-x: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
}

.grid-landscape {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-auto-rows: auto !important;
}

.detail-slider {
    margin-bottom: 0 !important;
    margin-top: 2% !important;

    .slides {
        display: flex;
        align-items: center;
    }
}

.project-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh !important;

    & img {
        width: auto !important;
        max-width: 100% !important;
        height: auto !important;
        max-height: 100%;
    }
}

.page-container {
    padding: 4% 6% 0 6%;
}

.about-container {
    margin-top: 1.5% !important;
    margin-bottom: 0 !important;
    border-left: none !important;
    padding-right: 5px !important;
}

.about-slide {
    padding-top: 2.2%;
}

.about-desc,
.project-desc,
.desc {
    font-size: 0.75rem;
}

.project {
    display: block;

    &:hover .project-hover {
        transform: translateY(0);
    }
}

.project-hover {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    transition: 0.4s;
    transform: translateY(101%);
    color: white;
    padding: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.35) !important;
    white-space: pre-line;

    &-big {
        background-color: rgba($color: #000000, $alpha: 0.35) !important;
        white-space: pre-line;
    }
}

.back-fixed {
    position: fixed;
    left: 5.9%;
    bottom: 3rem;
}

.back-btn {
    width: 30px !important;
    height: 30px !important;
}

@media screen and (min-width: 1680px) {
    .small {
        font-size: 100% !important;
    }

    .page-container {
        padding: 3.5% 5.5% 0 5.5%;
    }

    .about-container {
        margin-top: 5% !important;
    }

    .about-desc,
    .project-desc {
        font-size: 1rem;
    }

    .project-container {
        height: 75vh !important;
    }

    .back-fixed {
        left: 5.4%;
    }
}

@media screen and (max-width: 1280px) {

    .project-container {
        padding-top: 20vh;

        & img {
            width: 100% !important;
            height: auto !important;
        }
    }
}

@media screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 992px) {

    form label,
    form input {
        font-size: small !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }

    h3 {
        font-size: medium !important;
    }
}

.mx-6 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.z-10 {
    z-index: 10;
}

.z-15 {
    z-index: 15;
}

@media screen and (max-width: 768px) {
    .back-fixed {
        position: static;
        left: 0;
        bottom: 0;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .sm-hidden {
        display: none;
    }
}


@media screen and (max-width: 767px) {
    .w-md-50 {
        width: 50% !important;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }

    .mx-6 {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    .project-desc {
        width: 100%;
        bottom: 0;
        height: 100%;
        padding: 1rem 1.5rem 1rem 1.5rem;
    }

    .page-container {
        padding: 6% 8% 0 8%;
    }


    .project-hover {
        font-size: 80%;
    }

    .project-container {
        padding-top: 25vh;
    }

    .detail-slider {
        .slides {
            align-items: flex-start;
        }
    }
}

@media screen and (max-height: 768px) {
    .about-container {
        margin-top: 0 !important;
    }

    .project-container {
        padding-top: 0;
        height: 70vh !important;

        & img {
            width: auto !important;
            max-width: 100% !important;
            max-height: 100%;
        }
    }
}

@media screen and (min-width: 1280px) and (max-height: 600px) {
    .grid {
        grid-auto-rows: 26vh;
    }
}

@media screen and (max-width: 576px) and(max-height: 768px) {
    .project-container {
        padding-top: 25vh;
    }
}

@media screen and (max-height: 650px) {
    .project-container {
        height: 63vh !important;
    }
}

@media screen and (max-width: 576px) {
    .grid {
        grid-auto-rows: auto;
    }

    .carousel-detail {
        height: 50vh;
    }

    .image-box {
        width: 325px;
        height: 325px;
    }

    .project-desc {
        font-size: 0.7rem;
        padding: 0;
    }

    .page-container {
        padding: 8% 10% 0 10%;
    }

    .about-container {
        margin-top: 2rem !important;
    }

    .mx-6 {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

@media screen and (max-width: 412px) and (min-height: 700px) {
    .grid {
        // grid-auto-rows: 15vh;
    }
}


.brand>div:first-child {
    margin-bottom: 0.5em;
}

.brand>div {
    height: calc(96.5% / 2);
    position: relative;
}

.small-box {
    grid-area: span 1 / span 1;
    position: relative;
    overflow: hidden;
}

.big-box {
    grid-area: span 2 / span 2;
    position: relative;
    overflow: hidden;
}

.text-black {
    color: rgb(5, 5, 5);
}

.text-small {
    font-size: 0.9rem;
    line-height: 1.15rem;
}

.ls-sm {
    letter-spacing: 3px;
}

.ls-lg {
    letter-spacing: 16px;
}

.pre-line {
    white-space: pre-line;
}

ol {
    margin-bottom: 0;
}

.search-input {
    border: none;
    border-bottom: 1px solid black;

    &:focus {
        outline: none;
    }
}

.social-media {
    width: 35px;
}

.carousel-item img {
    height: 100% !important;
}
