/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
[hidden],
template {
    display: none;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}
button {
    background-color: transparent;
    background-image: none;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
fieldset,
ol,
ul {
    margin: 0;
    padding: 0;
}
ol,
ul {
    list-style: none;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
hr {
    border-top-width: 1px;
}
img {
    border-style: solid;
}
textarea {
    resize: vertical;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #a0aec0;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #a0aec0;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #a0aec0;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: #a0aec0;
}
input::placeholder,
textarea::placeholder {
    color: #a0aec0;
}
[role="button"],
button {
    cursor: pointer;
}
table {
    border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
a {
    color: inherit;
    text-decoration: inherit;
}
button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New,
        monospace;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}
img,
video {
    max-width: 100%;
    height: auto;
}
.container {
    width: 100%;
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1680px) {
    .container {
        max-width: 1680px;
    }
}
@font-face {
    font-family: UniversLTStd;
    font-weight: 400;
    src: url(/fonts/UniversLTStd.otf?ae3232c87b6e20028ffe47f9372f773c)
        format("otf");
}
@font-face {
    font-family: UniversLTStd;
    font-weight: 700;
    src: url(/fonts/UniversLTStd-Bold.otf?d85410082243ec6a4322ace19d5b74bb)
        format("otf");
}
.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.bg-transparent {
    background-color: transparent;
}
.bg-white {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
}
.bg-gray-200 {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
}
.focus\:bg-gray-100:focus {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity));
}
.bg-no-repeat {
    background-repeat: no-repeat;
}
.bg-cover {
    background-size: cover;
}
.border-gray-200 {
    --border-opacity: 1;
    border-color: #edf2f7;
    border-color: rgba(237, 242, 247, var(--border-opacity));
}
.rounded {
    border-radius: 0.25rem;
}
.rounded-lg {
    border-radius: 0.5rem;
}
.border-0 {
    border-width: 0;
}
.border-2 {
    border-width: 2px;
}
.border {
    border-width: 1px;
}
.inline-block {
    display: inline-block;
}
.flex {
    display: flex;
}
.table {
    display: table;
}
.grid {
    display: grid;
}
.hidden {
    display: none;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.items-center {
    align-items: center;
}
.self-start {
    align-self: flex-start;
}
.justify-center {
    justify-content: center;
}
.flex-1 {
    flex: 1 1 0%;
}
.float-right {
    float: right;
}
.font-sans {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.font-light {
    font-weight: 300;
}
.font-bold {
    font-weight: 700;
}
.font-black {
    font-weight: 900;
}
.h-1 {
    height: 0.25rem;
}
.h-full {
    height: 100%;
}
.text-xs {
    font-size: 0.75rem;
}
.text-sm {
    font-size: 0.875rem;
}
.text-lg {
    font-size: 1.125rem;
}
.text-2xl {
    font-size: 1.5rem;
}
.text-5xl {
    font-size: 3rem;
}
.leading-tight {
    line-height: 1.25;
}
.leading-normal {
    line-height: 1.5;
}
.m-0 {
    margin: 0;
}
.m-8 {
    margin: 2rem;
}
.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mt-0 {
    margin-top: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.mt-1 {
    margin-top: 0.25rem;
}
.ml-1 {
    margin-left: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.ml-2 {
    margin-left: 0.5rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.mr-3 {
    margin-right: 0.75rem;
}
.mb-3 {
    margin-bottom: 0.75rem;
}
.ml-3 {
    margin-left: 0.75rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mr-4 {
    margin-right: 1rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.ml-4 {
    margin-left: 1rem;
}
.mt-5 {
    margin-top: 1.25rem;
}
.mb-5 {
    margin-bottom: 1.25rem;
}
.mb-8 {
    margin-bottom: 2rem;
}
.mt-10 {
    margin-top: 2.5rem;
}
.mt-12 {
    margin-top: 3rem;
}
.ml-auto {
    margin-left: auto;
}
.group:hover .group-hover\:mt-0 {
    margin-top: 0;
}
.max-h-full {
    max-height: 100%;
}
.max-w-sm {
    max-width: 24rem;
}
.min-h-screen {
    min-height: 100vh;
}
.focus\:outline-none:focus,
.outline-none {
    outline: 0;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
.p-0 {
    padding: 0;
}
.p-5 {
    padding: 1.25rem;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.pt-0 {
    padding-top: 0;
}
.pr-0 {
    padding-right: 0;
}
.pb-0 {
    padding-bottom: 0;
}
.pt-5 {
    padding-top: 1.25rem;
}
.pb-5 {
    padding-bottom: 1.25rem;
}
.pt-8 {
    padding-top: 2rem;
}
.pb-8 {
    padding-bottom: 2rem;
}
.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
.left-0 {
    left: 0;
}
.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-black {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity));
}
.text-white {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
}
.text-gray-700 {
    --text-opacity: 1;
    color: #4a5568;
    color: rgba(74, 85, 104, var(--text-opacity));
}
.uppercase {
    text-transform: uppercase;
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tracking-wide {
    letter-spacing: 0.025em;
}
.tracking-widest {
    letter-spacing: 0.1em;
}
.align-baseline {
    vertical-align: baseline;
}
.whitespace-pre-line {
    white-space: pre-line;
}
.w-5 {
    width: 1.25rem;
}
.w-7 {
    width: 1.75rem;
}
.w-16 {
    width: 4rem;
}
.w-auto {
    width: auto;
}
.w-1\/3 {
    width: 33.333333%;
}
.w-3\/4 {
    width: 75%;
}
.w-full {
    width: 100%;
}
.z-20 {
    z-index: 20;
}
.gap-3 {
    grid-gap: 0.75rem;
    gap: 0.75rem;
}
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.col-auto {
    grid-column: auto;
}
.col-span-2 {
    grid-column: span 2 / span 2;
}
.grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
}
.row-span-2 {
    grid-row: span 2 / span 2;
}
.transform {
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x))
        translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
        skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
        scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
}
.group:hover .group-hover\:-translate-y-full {
    --transform-translate-y: -100%;
}
.transition {
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
}
.duration-500 {
    transition-duration: 0.5s;
}
@-webkit-keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
@-webkit-keyframes ping {
    75%,
    to {
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes ping {
    75%,
    to {
        transform: scale(2);
        opacity: 0;
    }
}
@-webkit-keyframes pulse {
    50% {
        opacity: 0.5;
    }
}
@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}
@-webkit-keyframes bounce {
    0%,
    to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
@keyframes bounce {
    0%,
    to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
body {
    font-family: UniversLTStd, sans-serif;
    color: #111;
}
.app {
    padding: 8% 10%;
}
.btn-prev {
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.btn-next {
    right: 5%;
    top: 50%;
    transform: translate(50%, -50%);
}
@media (min-width: 768px) {
    .app {
        padding: 6% 8%;
    }
    .btn-prev {
        left: 4%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .btn-next {
        right: 4%;
        top: 50%;
        transform: translate(50%, -50%);
    }
}
@media (min-width: 1280px) {
    .app {
        padding: 4% 6%;
    }
    .project-container {
        height: 70vh !important;
    }
    .btn-prev {
        left: 3%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .btn-next {
        right: 3%;
        top: 50%;
        transform: translate(50%, -50%);
    }
    .grid-max-h {
        max-height: 80vh;
    }
}
@media (min-width: 640px) {
    .sm\:container {
        width: 100%;
        max-width: 640px;
    }
    @media (min-width: 768px) {
        .sm\:container {
            max-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .sm\:container {
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px) {
        .sm\:container {
            max-width: 1280px;
        }
    }
    @media (min-width: 1680px) {
        .sm\:container {
            max-width: 1680px;
        }
    }
    .sm\:text-sm {
        font-size: 0.875rem;
    }
    .sm\:w-1\/2 {
        width: 50%;
    }
    .sm\:w-3\/4 {
        width: 75%;
    }
    .sm\:w-7\/12 {
        width: 58.333333%;
    }
    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media (min-width: 768px) {
    .md\:container {
        width: 100%;
    }
    @media (min-width: 640px) {
        .md\:container {
            max-width: 640px;
        }
    }
    @media (min-width: 768px) {
        .md\:container {
            max-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .md\:container {
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px) {
        .md\:container {
            max-width: 1280px;
        }
    }
    @media (min-width: 1680px) {
        .md\:container {
            max-width: 1680px;
        }
    }
    .md\:flex {
        display: flex;
    }
    .md\:flex-row {
        flex-direction: row;
    }
    .md\:text-3xl {
        font-size: 1.875rem;
    }
    .md\:my-6 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .md\:mt-0 {
        margin-top: 0;
    }
    .md\:min-h-screen {
        min-height: 100vh;
    }
    .md\:pb-0 {
        padding-bottom: 0;
    }
    .md\:w-1\/2 {
        width: 50%;
    }
    .md\:w-1\/4 {
        width: 25%;
    }
}
@media (min-width: 1024px) {
    .lg\:container {
        width: 100%;
    }
    @media (min-width: 640px) {
        .lg\:container {
            max-width: 640px;
        }
    }
    @media (min-width: 768px) {
        .lg\:container {
            max-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .lg\:container {
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px) {
        .lg\:container {
            max-width: 1280px;
        }
    }
    @media (min-width: 1680px) {
        .lg\:container {
            max-width: 1680px;
        }
    }
    .lg\:block {
        display: block;
    }
    .lg\:hidden {
        display: none;
    }
    .lg\:flex-1 {
        flex: 1 1 0%;
    }
    .lg\:mb-0 {
        margin-bottom: 0;
    }
    .lg\:mr-4 {
        margin-right: 1rem;
    }
    .lg\:ml-4 {
        margin-left: 1rem;
    }
    .lg\:mt-9 {
        margin-top: 2.4rem;
    }
    .lg\:mt-10 {
        margin-top: 2.5rem;
    }
    .lg\:ml-32 {
        margin-left: 8rem;
    }
    .lg\:-mt-1 {
        margin-top: -1.5rem;
    }
    .lg\:pl-20 {
        padding-left: 5rem;
    }
    .lg\:w-1\/3 {
        width: 33.333333%;
    }
    .lg\:w-1\/4 {
        width: 25%;
    }
}
@media (min-width: 1280px) {
    .xl\:container {
        width: 100%;
    }
    @media (min-width: 640px) {
        .xl\:container {
            max-width: 640px;
        }
    }
    @media (min-width: 768px) {
        .xl\:container {
            max-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .xl\:container {
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px) {
        .xl\:container {
            max-width: 1280px;
        }
    }
    @media (min-width: 1680px) {
        .xl\:container {
            max-width: 1680px;
        }
    }
    .xl\:h-full {
        height: 100%;
    }
    .xl\:overflow-y-hidden {
        overflow-y: hidden;
    }
    .xl\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .xl\:grid-rows-3 {
        grid-template-rows: repeat(3, minmax(0, 1fr));
    }
}
@media (min-width: 1680px) {
    .xxl\:container {
        width: 100%;
    }
    @media (min-width: 640px) {
        .xxl\:container {
            max-width: 640px;
        }
    }
    @media (min-width: 768px) {
        .xxl\:container {
            max-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .xxl\:container {
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px) {
        .xxl\:container {
            max-width: 1280px;
        }
    }
    @media (min-width: 1680px) {
        .xxl\:container {
            max-width: 1680px;
        }
    }
    .xxl\:text-sm {
        font-size: 0.875rem;
    }
    .xxl\:text-base {
        font-size: 1rem;
    }
    .xxl\:mt-14 {
        margin-top: 3.5rem;
    }
    .xxl\:mt-20 {
        margin-top: 5rem;
    }
    .xxl\:p-8 {
        padding: 2rem;
    }
}
