.h-150px {
  height: 150px;
}

@media screen and (max-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
}

body {
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 15vh;
  grid-gap: 1em;
}

.grid-project {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid .small-box,
.grid .big-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-detail {
  height: 75vh;
}

.image-box {
  width: 400px;
  height: 400px;
}

@media screen and (min-width: 1536px) {
  .grid-project {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .image-box {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* * {
          font-size: .5rem;
      } */

  form label,
  form input {
    font-size: small !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  h3 {
    font-size: medium !important;
  }

  .w-25 {
    width: 44% !important;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  p {
    font-size: 0.6rem;
  }

  .w-25 {
    width: 75% !important;
  }
}

@media screen and (max-width: 576px) {
  .grid {
    grid-auto-rows: 25vh;
  }

  .carousel-detail {
    height: 50vh;
  }

  .image-box {
    width: 325px;
    height: 325px;
  }

  .w-25 {
    width: 90% !important;
  }

  .grid-project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.brand {
  background: transparent !important;
}

.brand > div:first-child {
  margin-bottom: 0.5em;
}

.brand > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(96.5% / 2);
  background: #e4e4e4;
}

.small-box {
  grid-area: span 1 / span 1;
  background: #e4e4e4;
}

.big-box {
  grid-area: span 2 / span 2;
  background: #e4e4e4;
}

img {
  width: 100%;
  height: 100%;
}

.text-black {
  color: #050505;
}

.grayscale {
  -webkit-filter: grayscale(0.7);
  filter: grayscale(0.7);
}

.text-small {
  font-size: 0.9rem;
  line-height: 1.15rem;
}

.h-100v {
  height: 100vh !important;
}
