@tailwind base;

@tailwind components;

@layer base {
  @font-face {
    font-family: UniversLTStd;
    font-weight: 400;
    src: url(./../fonts/UniversLTStd.otf) format("otf");
  }
  @font-face {
    font-family: UniversLTStd;
    font-weight: 700;
    src: url(./../fonts/UniversLTStd-Bold.otf) format("otf");
  }
}

@tailwind utilities;

body {
  font-family: "UniversLTStd", sans-serif;
  color: #111;
}

.app {
  padding: 8% 10% 8% 10%;
}

.btn-prev {
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-next {
  right: 5%;
  top: 50%;
  transform: translate(50%, -50%);
}

@media (min-width: 768px) {
  .app {
    padding: 6% 8% 6% 8%;
  }

  .btn-prev {
    left: 4%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .btn-next {
    right: 4%;
    top: 50%;
    transform: translate(50%, -50%);
  }
}

@media (min-width: 1280px) {
  .app {
    padding: 4% 6% 4% 6%;
  }

  .project-container {
    height: 70vh !important;
  }

  .btn-prev {
    left: 3%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .btn-next {
    right: 3%;
    top: 50%;
    transform: translate(50%, -50%);
  }

  .grid-max-h {
    max-height: 80vh;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
